<%# locals => report %>

<div class="statpad funnel">
	<div class="title">Funnel Chart</div>
	<div class="statbody">
		<div id="chart_<%=h report.id %>" data-raphael="funnel" data-x-axis="date"
			<%# TODO: There's a ton of assumptions here %>
			data-x="<%= report.mg_report_items.map { |ri| ri.reportable.mg_records.count }.join(',') %>"
			data-y="<%= report.mg_report_items.map { |ri| "'#{ri.reportable.name}'" }.join(',') %>"
			style="width: 450px; height: 450px;" />
		</div>
	</div>
</div>