<%# locals => f %>
<div class="item reportable">
    <%= f.label :reportable, "Report Item" %>
    <%= f.select :reportable, options_for_select( [[ "Select a Goal", "" ]] + Mg::Goal.all.map { |goal| [ goal.name, "#{goal.id}-#{goal.class}" ] }, f.object.reportable.nil? ? "" : "#{f.object.reportable_id}-#{f.object.reportable_type}" ), {}, :'data-varies' => 'change', :'data-varies-path' => get_extra_mg_report_items_url, :'data-varies-res' => '#extra' %>
</div>
<div id="extra">
    <% if !f.object.nil? && !f.object.reportable.nil? %>
    	<%= render :partial => 'mg/report_items/report_item_pivot_form', :locals => { :reportable => f.object.reportable }.merge( f.object.pivot.nil? ? {} : { :pivot => f.object.pivot } ) %>
    <% end %>
</div>
