<%# locals => f %>

<div class="item reportable">
	<%= f.label :reportable, "Report Item" %>
	<%= f.select :reportable, options_for_select( [[ "Select a Goal", "" ]] + Mg::Convert.all.map { |conv| [ conv.name, "#{conv.id}-#{conv.class}" ] }, f.object.reportable.nil? ? "" : "#{f.object.reportable_id}-#{f.object.reportable_type}" ) %>
</div>
