
<div class="header">
	<span class="title">Edit Report Item</span>
</div>
<div class="body">
	<div class="report-items">
		<% form_for :report_item, @report_item, :url => update_mg_report_item_url(:id => @report_item.id), :html => { :method => :post, :class => "remote-form report-item", :'data-res' => ".report-items-model .model" } do |f| %>
			
			<div>
				<%= f.error_messages %>
				<%= render :partial => 'mg/report_items/report_item_form', :locals => { :f => f } %>
			</div>
			
			<div class="submit">
				<%= f.submit 'Update', :class => 'bluebutton' %>
			</div>
		<% end %>
	</div>
</div>