

<div id="container-main" class="mt-metric-variants">
	<div class="mountain-goat-panel centered">
		<h2>Edit metric variant</h2>
		
		<% form_for :metric_variant, @metric_variant, :url => mountain_goat_metric_variant_url(:id => @metric_variant.id), :html => { :method => :put } do |f| %>
			<%= f.error_messages %>
		
			<%= render :partial => 'mountain_goat_metric_variants/metric_variant_form', :locals => { :f => f } %>
		<% end %>
	</div>
</div>