

<div id="container-main" class="mt-converts">
	<div class="mountain-goat-panel centered">
		<h1>Edit <%=h @convert.name %></h1>
		
		<% form_for :convert, @convert, :url => mg_convert_url(:id => @convert.id), :html => { :method => :put } do |f| %>
			<%= f.error_messages %>
		
			<%= render :partial => 'mg/converts/convert_form', :locals => { :f => f } %>
		<% end %>
	</div>
</div>