

<div id="container-main" class="mt-metrics">
	<div class="mountain-goat-panel centered">
		<h1>Edit <%= @metric.title %></h1>
	
		<% form_for :metric, @metric, :url => mountain_goat_metric_url(:id => @metric.id), :html => { :method => :put } do |f| %>
	 		<%= f.error_messages %>
	
			<%= render :partial => 'mountain_goat_metrics/metric_form', :locals => { :f => f } %>
		<% end %>
	</div>
</div>