<div id="container-main" class="mg-test-new">
	<h1>Create New Test</h1>
	<div class="container-content">
		<div class="edit-form">
			<% form_for :test, @test, :url => mg_tests_url do |f| %>
				<%= f.error_messages %>
			
				<%= render 'test_form', :f => f %>
			<% end %>
		</div>
	</div>
</div>