<div id="container-main" class="mg-records">
	<h1><% if @goal %><%=h @goal.name %><% else %>Comprehensive<% end %> Records</h1>
	<div class="container-content">
		<div class="recent-record" data-reload="true" data-record-id="<%= @records.count > 0 ? @records.first.id : -1 %>" data-goal-id="<%= @goal ? @goal.id : '' %>"></div>
		
		<% if @records.count > 0 %>
			<ul class="record-list">
				<% @records.each do |record| %>
					<%= render 'record', :record => record %>
				<% end %>
			</ul>
		<% else %>
			<h3>No records yet...</h3>
		<% end %>
	</div>
</div>