
<div id="container-main" class="mg-records">
	<div class="mountain-goat-panel centered">
		<h2>Record for <%=h @record.goal.name %></h2>
	
		<div class="record">
			<span class="occurred"><%= @record.created_at.to_s %></span>
		</div>
		
		<div class="actions">
			<a class="button" href="<%= edit_mg_record_url @record.id %>">Edit</a>
		</div>
	</div>
</div>