
<div id="container-main" class="mt-metrics">
	<div class="mountain-goat-panel">
		<h1>All metrics</h1>
	
		<% @metrics.each do |metric| %>
			<h2><a href="<%= mg_metric_url metric %>"><%=h metric.title %> </a></h2>
		<% end %>
		
		<span class="actions">
			<a class="button" href="<%= new_mg_metric_url %>">New metric</a>
		</span>
	</div>
</div>