<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>

<body style="font-family:Calibri,Arial,sans-serif; font-size: 16px;">

	<div class="container-mailer">
		<div class="mailer-content">
			<div class="mailer-header">
				
			</div>

			<div class="mailer-text">
				Your statistics for <%=h @report.title %> are attached. 
			</div>

			<div class="mailer-signature">
				<span>- Your friends at <a href="https://github.com/hayesgm/mountain_goat">Mountain Goat</a></span>
			</div>
		</div>
	</div>

</body>
</html>