
<div id="container-main" class="mt-rallies">
	<div class="mountain-goat-panel cenetered">
		<h2>New rally</h2>
	
		<% form_for :rally, @rally, :url => mg_rallies_url do |f| %>
			<%= f.error_messages %>
		
			<%= render :partial => 'mg/rallies/rallies_form', :locals => { :f => f } %>
		<% end %>
	
	</div>
</div>