

<div id="container-main" class="mg-choices">
	<div class="mountain-goat-panel centered">
		<h1>Edit <%=h @choice.name %></h1>
		
		<% form_for :choice, @choice, :url => mg_choice_url(:id => @choice.id), :html => { :method => :put } do |f| %>
			<%= f.error_messages %>
		
			<%= render 'choice_form', :f => f %>
		<% end %>
	</div>
</div>